<div class ="container">
  <div class="row">
    <%= render 'show' ,customer: @customer %>
    <td><%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-sm btn-success" %></td>
    <td><%= link_to '注文履歴一覧を見る', admin_root_path, class: "btn btn-sm btn-primary" %></td>
  </div>
</div>
